{% extends 'cafes/base.html' %}
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h1>Add a new cafe into the database</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p class="space-above"><a href="{% url 'cafes' %}">See all cafes</a></p>
        </div>
    </div>
</div>
{% endblock %}
