{% extends 'cafes/base.html' %}

{% block title %}Add Cafe | Caffeinated{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 form-container">
            <h2 class="text-center mb-4">Add a new cafe</h2>
            <form method="post" class="p-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">Add Cafe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
